# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
out/*
out

# Mac
.DS_Store

# SQL
mysql-connector-java-8.0.18.tar.gz
mysql-connector-java-8.0.18/


# Maven
log/
target/

# Other
JIG/
mysql-connector-java-5.1.48/


*.txt
